.container {
  margin: 16px 30px 16px 0;
  width: 300px;
  display: inline-block;
  float: none;
  vertical-align: top;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  overflow: hidden;
  height: 500px;
}

.container img {
  object-fit: cover;
  height: auto;
  aspect-ratio: 2/3;
  width: 100%;
  cursor: pointer;
}

.title {
  margin-top: 2px;
  margin-bottom: 0;
  line-height: 1.2;
  font-weight: 500;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.price {
  /* line-height: 1.2; */
  font-weight: 400;
  color: rgba(36, 36, 36, 0.575);
  cursor: pointer;
  text-decoration: none;
}
